{% extends "blog/layout.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block display %}

    <!-- start row -->
    <div class="row" style="">
   
        <!-- Blog Entries Column (left) -->
        <div class="col-md-8" style="">

            {% for post in blogpages %}
                {% with post=post.specific %}

                <!-- Blog Post -->
                <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                    {% with post.main_image as main_image %}
                        {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                    {% endwith %}
		    <p>{{ post.intro }}</p>
		    <p class="card-text">{{ post.body|richtext|truncatewords_html:20 }}</p>
                    <a href="{% pageurl post %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                    <div class="card-footer text-muted">
                        {{ post.date }} <a href="#">Home</a>
                    </div>		
		</div>

                {% endwith %}
            {% endfor %}


            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a id="prev" class="page-link" href="/posts/?page=">&larr; Prev</a>
                </li>
		<li class="page-item">  <!-- disabled -->
                    <a id="next" class="page-link" href="/posts/?page=">Next &rarr;</a>
                </li>
            </ul>


        </div>
        <!-- End Blog Entries Column -->


        <!-- Sidebar Widgets Column (right) -->
        <div class="col-md-4">

        <div class="card my-4">
          <h5 class="card-header">Latest posts</h5>
          <div class="card-body">
		  not ready
          <!--
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          -->

          </div>
        </div>

        </div>
        <!-- End Sidebar Widgets Column -->

    </div>
    <!-- end row -->
  

{% endblock %}


{% block other_js %}

    <script src="{% static 'blog/js/cookies.js' %}"></script>

    <script>
	max_page = parseInt(getCookie('max_page'));     
        page = parseInt(getCookie('myblog_page'));
        //setCookie('myblog_page',(page+1).toString()) 

        if(max_page != null && page != null){

            var prev = document.getElementById("prev");
            var next = document.getElementById("next");
            prev.onclick = function(){
		if (page > 1){    
		    setCookie('myblog_page',(page-1).toString())	
	            this.href += (page-1).toString() 	
		}    
	    }
            next.onclick = function(){
		if (page < max_page){    
		    setCookie('myblog_page',(page+1).toString())
	            this.href += (page+1).toString() 
		}	    
	    }

	}	
    </script>
{% endblock %}
