{% extends "blog/layout.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block display %}

   
        {% for post in posts %}
            {% with post=post.specific %}

            <!-- Blog Post -->
            <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h2>

                {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}

                <p>{{ post.intro }}</p>

		<p class="card-text">


                {% for block in page.body %}

	        {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == 'paragraph'%}
                    {{ block.value }}
                {% elif block.block_type == 'htmljs'%}
                    {{ block.value|richtext }}	


	        {% elif block.block_type == 'code_bash'%}
		    <pre class="prettyprint lang-bash code-style">{{ block.value }}</pre>
                {% elif block.block_type == 'code_htmljs'%}
                    <pre class="prettyprint code-style">{{ block.value }}</pre>
                {% elif block.block_type == 'code_py'%}
                    <pre class="prettyprint lang-python code-style">{{ block.value }}</pre>

                {% elif block.block_type == 'image' %}
                    {% image block.value width-600 %}

                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {{ block }}
                </section>
                {% endif %}	       
		
                {% endfor %}

		</p>

                <a href="{% pageurl post %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
                <div class="card-footer text-muted">
                    {{ post.date }} <a href="#">Home</a>
                </div>		
            </div>

            {% endwith %}
        {% endfor %}


  {# Only show pagination if there is more than one page to click through #}
  {% if posts.paginator.num_pages > 1 %}
  <div class="col-sm-3 mx-auto text-center" style="border: 0px solid black;">
          <div class="pagination">
            {% if posts.has_previous %}
              <li class="page-item">
                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                  <span>&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for page_num in posts.paginator.page_range %}
              <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
            {% endfor %}

            {% if posts.has_next %}
              <li class="page-item">
                <a href="?page={{ posts.next_page_number }}" class="page-link">
                  <span>&raquo;</span>
                </a>
              </li>
            {% endif %}
          </div>
  </div>
  <br>
  {% endif %}

{% endblock %}


