{% extends "blog/layout.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block display %}
    
    {% for item in page.gallery_images.all %}
        <div style="margin: 0px;">
	    {% comment %}{% image item.image width-700  class="" %}{% endcomment %}
            {% image item.image width-700 as my_image %}
            <img class="photo " src="{{ my_image.url }}" width="100%">
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>
    <div class="intro">{{ page.intro }}</div>
    
    {% comment %}{{ page.body|richtext }}{% endcomment %}

                {% for block in page.body %}

                {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == 'paragraph'%}
		    {{ block.value }}
                {% elif block.block_type == 'htmljs'%}
                    {{ block.value|richtext }}


                {% elif block.block_type == 'code_bash'%}
                    <pre class="prettyprint lang-bash code-style">{{ block.value }}</pre>
                {% elif block.block_type == 'code_htmljs'%}
                    <pre class="prettyprint code-style">{{ block.value }}</pre>
                {% elif block.block_type == 'code_py'%}
                    <pre class="prettyprint lang-python code-style">{{ block.value }}</pre>

		{% comment %}    
                {% elif block.block_type == 'image_center' %}
                    {% image block.value width-500 class="rounded mx-auto d-block"  %}

                {% elif block.block_type == 'image_left' %}
                    <div style="float:left; margin: 10px">
                    {% image block.value width-250 %}
                    </div>
                {% endcomment %}

                {% elif block.block_type == 'image_center' %}
                    <figure>
			{% image block.value.image width-500 class="rounded mx-auto d-block"  %}
                        <figcaption>
                            {{  block.value.caption }}
                        </figcaption>
                    </figure>

                {% elif block.block_type == 'image_left' %}
		    <figure>
			    <!--<div style="float:left; margin: 10px; height:50px;">-->
		            {% image block.value.image width-250 class="float-left" %}
    		            <!--</div>-->		    
    		        <figcaption>
		            {{  block.value.caption }}
    		        </figcaption>
		    </figure>

                {% else %}
		    <!-- two, three columns -->
                    <section class="block-{{ block.block_type }}">
			    {{  block }}
                    </section>
                {% endif %}

                {% endfor %}
    
    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}


    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}
