{% extends "blog/base.html" %}

{% load wagtailcore_tags %}
{% load static %}


{% block extra_css %}

  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="{% static 'blog/bootstrap4/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href='{% static "blog/img/tux.png" %}' />

{% endblock %}

{% block extra_js %}

  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- Popper JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

  <script src="{% static 'blog/bootstrap4/jquery.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap4/popper.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap4/bootstrap.min.js' %}"></script>

  <!-- ajax -->
  <!--<script src="{% static 'blog/js/xhr.js' %}"></script>-->
  <!-- actions -->
  <!--<script src="{% static 'blog/js/set.js' %}"></script>-->


  {% block other_js %}
  {% endblock %}

{% endblock %}

{% block content %}

    {% csrf_token %}

    <!-- Navigation -->

    <!--<nav class="navbar navbar-expand-lg py-0 navbar-dark bg-dark fixed-top">-->
    <nav class="navbar navbar-expand-sm py-0 bg-primary navbar-dark fixed-top">	    
      <div class="container">
        <a class="navbar-brand" href="#">
            <img height="35" class="rounded"  src="{% static "blog/img/tree.jpg" %}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

 	  <ul class="navbar-nav ml-auto">

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Menu
              </a>
              <div class="dropdown-menu">
		<a class="dropdown-item" href="/">Home</a>      
                <a class="dropdown-item" href="/blog-tree/">Blog-tree</a>
                <a class="dropdown-item" href="/all-tags/">All Tags</a>
              </div>
            </li>

            <form class="form-inline" action="{{slugurl}}/blog-search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="key" name="key">
                <button class="btn btn-success" type="submit">Search</button>
            </form>

          </ul>

        </div>
      </div>
    </nav>

    <!-- end Navigation -->


    <!-- start container -->
    <div class="container">

    <!-- start row -->
    <div class="row" style="">

        <!-- Left column -->
        <div class="col-md-8" style="">

            {% block display %}
            {% endblock %}

        </div>
        <!-- End Left Column -->


        <!-- Sidebar Widgets Right Column -->
        <div class="col-md-4">

        <div class="card my-4">
          <h5 class="card-header">Latest edited posts</h5>
          <div class="card-body">
              {% for post in latest_posts %}
                  <p><a href="{{ post.url }}">{{ post.title }}</a></p>
	      {% endfor %}
          </div>
        </div>		  

        </div>
        <!-- End Sidebar Widgets Right Column -->
		
    </div>
    <!-- end row -->


    </div>
    <!-- end container -->

    <!-- isso comentaries -->
    <!--
    <script data-isso="//localhost:8001/"
    src="//localhost:8001/js/embed.min.js"></script>
    <section id="isso-thread"></section>
    -->


    <footer class="jumbotron text-center bg-primary py-1" style="margin-bottom:0">
        <div class="col-sm-2 mx-auto text-center">
            <img class="img-fluid" src="{% static 'blog/img/wagtail_badges/wagtail_badge_retina_white.png' %}" alt="Wagtail-CMS logo"/>
        </div>
        <p class="m-0 text-center text-white">Copyright &copy; Corciu Mihai - Oltenita - 2019</p>
        <p class="m-0 text-center text-white">mc200520052005@yahoo.com</p>
        <!--
        <div class="col-sm-1 mx-auto text-center">
            <img class="img-fluid" src="{% static 'logos/Pi-3.png' %}" alt="Raspberry Pi 3 logo"/>
        </div>
        -->
    </footer>

{% endblock %}
