{% extends "blog/base.html" %}

{% load wagtailcore_tags %}
{% load static %}


{% block extra_css %}

  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="{% static 'blog/bootstrap4/bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}

{% block extra_js %}

  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
  <!-- Popper JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

  <script src="{% static 'blog/bootstrap4/jquery.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap4/popper.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap4/bootstrap.min.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="container">

    {% csrf_token %}

    {% block display %}
    {% endblock %}


    </div>

{% endblock %}
